<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <p th:unless="${jobs} and ${jobs.size()}">No jobs</p>
    <div th:if="${jobs} and ${jobs.size()}">

        <table th:each="job : ${jobs}" class="job-listing">
            <tr th:each="jobitem : ${job}" >
                <td th:text="${#strings.capitalizeWords(jobitem.key)}"/>
                <td th:text="${jobitem.value}"/>
            </tr>
        </table>
</div>
</div>

</body>
</html>